*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
body{
 width: 100%;
 height: 100vh;
 background-color:black;
 display: flex;
 align-items: center;
 justify-content: center;
}

.btn{
 background-color: #fff;
 width: 100px;
 height: 50px;
 font-weight: 900;
 font-size: 15px;
 border-radius: 10px;
 padding: 12px 23px ;

}